<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>HCMUS Moodle Mini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h2 class = "lead">HCMUS Moodle Mini</h2>
        <ul>
            <li>
                 <a ><button type="button" class="btn btn-outline-warning">View Profile</button></a>
            </li>   
            <li>
                <a ><button type="button" class="btn btn-outline-warning">Log out</button></a>
            </li>  
        </ul>
    </nav>

    <div class="row">
        <div class="column">
            <div class="card" style="width: 18rem;margin:50px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 18rem;margin:50px 70px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px 70px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px 70px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="width: 18rem;margin:50px 90px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px 90px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;margin:50px 90px;">
                <div class="card-body" style="text-align: center;background-color:mediumorchid;">
                    <h3 class="card-title">Add student</h3>
                    <p class="card-text">Add a new student or a group of student to a course.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>

</body> 
</html>