<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
    
</head>
<body>
    <nav>
        <h2><a href="../../lecturer/lecturer_UI"><button type="button" class="btn btn-outline-warning">Home Page</button></a></h2>
        <ul>
            <li>
                <div class="dropdown" >
                <a><button type="button" class="btn btn-outline-warning" >Profile</button></a>
                    <div class="dropdown-content" style = "border-radius: 5px; padding: 5px">
                        <a href="/lecturer/lecturer_view_profile"><button type="button" class="btn btn-outline-warning">View Profile</button></a>
                        <a href="/lecturer/lecturer_change_profile"><button type="button" class="btn btn-outline-warning">Change Profile</button></a>
                        <a href="/lecturer/lecturer_change_password"><button type="button" class="btn btn-outline-warning">Change Password</button></a>
                    </div>
                </div>
            </li>   
            <li>
                <a ><button type="button" class="btn btn-outline-warning">Log out</button></a>
            </li>  
        </ul>
    </nav>

    
    <body>
        <div class="container">
            <div class="main">
                <div class = "row">
                    <div class = "col-md-4 mt-1">
                        <div class = "card text-center sidebar">
                            <div class = "card-body">
                                <img class="avatar" src = "https://www.w3schools.com/howto/img_avatar2.png" width= "200px">
                                <div class = "mt-3" id = "fullname1">
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class= "col-md-8 mt-1">
                        <div class = "card mb-3 content">
                            <div class ="card-body">
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>LecturerID:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "ID">
                                        
                                    </div>
                                </div>
                                <hr/>
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>Fullname:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "fullname">
                                        
                                    </div>
                                </div>
                                <hr/>
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>Phone Number:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "phone">
                                       
                                    </div>
                                </div>
                                <hr/>
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>Start Year:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "year">
                                      
                                    </div>
                                </div>
                                <hr/>
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>Faculty:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "faculty">
                                        
                                    </div>
                                </div>
                                <hr/>
                                <div class = "row">
                                    <div class = "col-md-3">
                                        <h5>Date of birth:</h5>
                                    </div>
                                    <div class = "col-md-9 text-secondary" id = "DoB">
            
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
<script type="text/javascript">
    var user = "{{user}}";
    let profile = user.split("!");
    let id = profile[0];
    let fullname = profile[1];
    let phone = profile[2];
    let year = profile[3];
    let faculty=profile[4];
    let DoB = profile[6];
    DoB = DoB.slice(3,15);

    document.getElementById("ID").innerHTML = id;
    document.getElementById("fullname").innerHTML = fullname;
    document.getElementById("fullname1").innerHTML = fullname;
    document.getElementById("phone").innerHTML = phone;
    document.getElementById("year").innerHTML = year;
    document.getElementById("faculty").innerHTML=faculty;
    document.getElementById("DoB").innerHTML = DoB;

    </script>
</html>
