<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCMUS Moodle Mini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h2 class = "lead">HCMUS Moodle Mini</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class = "card-header">
                Login Form 
            </div>

            <div class = "card-body">
                <form action = '/auth/login_actors/login_student' method = "POST">
                    <p>
                        <div class = "form-group">
                            <label for="id">ID</label>
                            <input type="text" class = "form-control" id = "id" name = "id">
                        </div>
                    </p>    
                    <p>
                        <div class = "form-group">
                            <label for="password">Password</label>
                            <input type="password" class = "form-control" id = "password" name = "password">
                        </div>
                    </p>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

        </div>     
        {{#if message}}   
            <h4 class = "alert alert-danger mt-4">{{message}}</h4>
        {{/if}}  
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>